.introducao-destaque {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.destaque-imagem {
  overflow: hidden;
  border-radius: 30px;
}

.destaque-imagem img {
  object-fit: cover;
}

.destaque-navegacao {
  grid-column: 1/-1;
  width: 100%;
  border-radius: 25px;
  background: #001E32;
  color: #fff;
  padding: 2rem;
}