*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  display: block;
  color: inherit;
}

button {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
