.noticias-galeria {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.noticias-galeria .box-imagem {
  height: 280px;
  margin-bottom: 1rem;
}

.noticias-galeria a {
  display: block;
  max-width: max-content;
  margin-bottom: 1rem;
}

.noticias-galeria a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: #012C4F;
}

.noticias-mini-galeria {
  display: flex;
  column-gap: 1rem;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.noticias-mini-galeria .box-imagem {
  width: 340px;
  height: 140px;
}

@media ( max-width: 800px ) {
  .noticias-galeria {
    grid-template-columns: 1fr;
  }

  .noticias-galeria .box-imagem {
    height: 340px;
    margin-bottom: 1rem;
  }

  .noticias-mini-galeria .box-imagem {
    width: 340px;
    height: 200px;
  }
}


@media ( max-width: 500px ) {
  .noticias-galeria .box-imagem {
    width: 100%;
  }

  .noticias-mini-galeria {
    display: block;
  }

  .noticias-mini-galeria .box-imagem {
    width: 100%;
    height: initial;
  }
}